body {
	background-color: rgb(97, 147, 255);
}

#main-css-container {
  position: absolute;
  height: 100%;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  justify-self: center;
  text-align: center;
}

#header-area{
  text-align: center;
  color: rgb(0, 0, 0);
  grid-row-start: 1;
}


#footer {
  grid-row-start: 3;
  padding: auto;
}


 #game-ui {
    grid-row-start: 2;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(90, 84, 84);
    width: 700px;
    height: 500px;
    border: 10px rgb(255, 87, 75);
    border-radius: 5px;
    border-style: solid;
    outline: 10px black;
    outline-style: solid;  
    
}

#main-battle-screen {
  background-color: rgb(90, 84, 84);
  width: 670px;
  height: 470px;
  border-radius: 6px;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-row-gap: 5px;
 }
 
 #upper-screen {
  background-image: url(https://mcdn.wallpapersafari.com/medium/85/89/6lOBvr.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
  grid-row-start:1 ;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: auto;
  height: auto;
  column-gap: 3px;
 }
 
 #enemy-box{
  grid-row-start: 1;
  grid-column-start: 2;
  width: auto;
  height: auto;
  border-radius: 4px;
 }
 
 .sprite-size{
  max-width: 120px;
  max-height: 120px;
}
 
 #enemy-hp{
  grid-row-start: 1;
  grid-column-start: 1;
  width: auto;
  height: auto;
  border-radius: 4px;
 }
 
 #player-sprite{
  grid-row-start: 2;
  grid-column-start: 1;
  width: auto;
  height: auto;
  border-radius: 4px;
 }
 
 #player-hp{
  grid-row-start: 2;
  grid-column-start: 2;
  width: auto;
  height: auto;
  border-radius: 4px;
 }
 
 #lower-screen {
  background-color: rgb(14, 185, 171);
  border-radius: 4px;
  grid-row-start:2 ;
  width: auto;
  height: auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  column-gap: 3px;
}
 
 #battle-text-box{
  grid-row-start: 1;
  grid-column-start: 1;
  width: auto;
  height: auto;
  background-color: rgb(235, 49, 188);
  border-radius: 4px;
 }
 
 #battle-option-box{
  grid-row-start: 1;
  grid-column-start: 2;
  width: auto;
  height: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 3px;
  justify-content: center;
  align-items: center;
 }
 
 .grow { 
  transition: all .2s ease-in-out; 
  }
  
  .grow:hover { 
  transform: scale(1.3); 
  }
  
  .battle-buttons {
    width: auto;
    height: auto;
    border: 3px black;
    border-radius: 2px;
    border-style: solid;
  }
  
 #fight{
  background-color: white;
  grid-row-start: 1;
  grid-column-start: 1;
 }
 
 #pokemon{
  background-color: white;
  grid-row-start: 1;
  grid-column-start: 2;
 }
 
 #items{
  background-color: white;
  grid-row-start: 2;
  grid-column-start: 1;
 }
 
 #run{
  background-color: white;
  grid-row-start: 2;
  grid-column-start: 2;
 }